.hero {
    background-position: bottom;
    height: auto;
    text-align: center;
    margin-bottom: 40px;
  }
  .page-title {
    width: 80%;
    margin: 0 auto 0 auto;
    }

    article p {
      color: #024e76;
 }

 h3 p {
font-size: 25px;
margin: 20px 0 
 }
 

  /* COULDNT FIGURE OUT MODULE 1.7.8 */